<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https:cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https:cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

</head>

<body onload="alertaCarrito()">

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Administrador</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link active" aria-current="page" href="listaUsuarios">Lista Usuarios</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link active" aria-current="page" href="listaProductos">Lista Productos</a>
                    </li>
                </ul>

                <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#perfilUsuario"
                    aria-controls="perfilUsuario">
                    <h5>Hola! <%=usuario.nombreUsuario%> <i class="bi bi-caret-down-fill"></i></h5>
                </button>
            </div>
        </div>
    </nav>

    <div class="text-bg-dark offcanvas offcanvas-end" tabindex="-1" id="perfilUsuario" aria-labelledby="perfilUsuarioLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="perfilUsuarioLabel">
                <h5>Admi <%=usuario.nombreUsuario%>
                </h5>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="text-center">
                <img class="rounded-circle" src="https://picsum.photos/300/300?random" alt="">
            </div>
            <div class="text-center border-bottom  mt-4">
                <h3 class="mb-2">
                    <%=usuario.nombreUsuario%>
                        <%=usuario.apellidosUsuario%>
                </h3>
            </div>

            <div class="text-center border-bottom  mt-3">
                <a class="text-white" onclick="cerrarSesion()" class="text-dark" href="cerrarSesion">
                    <h3 class="mb-2">Cerrar sesion <i class="bi bi-box-arrow-left"></i></h3>
                </a>
            </div>
        </div>
    </div>

    <script>
        function cerrarSesion() {   
            localStorage.clear();
        }
    </script>
    <script src="https:cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>

</body>

</html>