<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>

    <div class="row g-0 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class=" col-md-6 border border-dark mt-5">
                <h1 class="text-center mt-5 border-bottom">Recuperacion de contraseña.</h1>
                <div>
                    <p></p>
                </div>
                <form class="m-5" action="/tienda/v1/nuevaContrasena" method="post">
                    <div class="form-group mt-5">
                        <label for="confirmarnuevaContraseña" class="col-form-label">Confirma Contraseña:</label>
                        <input type="password" id="confirmarnuevaContraseña" name="confirmarnuevaContraseña" class="form-control">
                    </div>

                    <input type="text" hidden name="id" id="id" value="<%=usuario._id%>">
                    
                    <div class="form-group text-center mt-3">
                        <input type="submit" class="btn btn-primary" >
                    </div>

                </form>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>